.product-wrap {
  .title {
    padding: 3rem 0 1rem;
    text-align: center;
    font-size: 1.8rem;
  }

  .container {
    padding: 1.4rem;
  }

  .search-wrap {
    margin-bottom: 5rem;

    .search-form {
      position: relative;
      width: 100%;

      input[type="text"] {
        width: 100%;
        border: 1px solid #eee;
        padding: 0.6rem 1rem;
        box-shadow: 0 3px 3px #eee;
        border-radius: 10px;
        box-sizing: border-box;
      }

      input[type="text"] + button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 0.8rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .btnWrap {
      padding: 1rem 0;
      display: flex;
      justify-content: flex-end;
      gap: 0.6rem;
      .btn {
        padding: 0.4rem;
        font-size: 0.8rem;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }
    }
  }

  .product-list {
    border: 1px solid #eee;
    padding: 1.2rem;
    margin-bottom: 5rem;
    box-shadow: inset 0px 0px 10px #eee;

    .list-visual {
      position: relative;
      padding-bottom: 2.2rem;

      .item-img {
        position: absolute;
        top: -100%;
        right: 1rem;
        width: 80px;
        height: 80px;
        border: 2px solid #eee;
        border-radius: 100%;
        background: #fff;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 100%;
        }
      }

      .item-rating {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: #fff;
        background: #74aaff;
        border-radius: 4px;
      }
    }

    .item {
      margin-bottom: 1rem;
    }
    .item-title,
    .item-description,
    .item-price {
      font-size: 1.1rem;
    }

    .item-price {
      color: #666;
      font-weight: 500;
    }

    .list-btn-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn {
        font-size: 1rem;
        padding: 0.3rem 0.6rem;
        border: none;
        border-radius: 4px;
      }
    }
  }
}

@include mobile {
  .product-wrap {
    max-width: 500px;
    margin: 0 auto;
  }
  .btn {
    cursor: pointer;
  }
}
@include tablet {
  .product-wrap {
    max-width: 600px;

    .search-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search-form {
        width: 50%;
      }
    }
  }
}
